MONGO_URI=mongodb+srv://USUARIO:CONTRASENA@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=bot_servicios
OWNER_PHONE=521XXXXXXXXXX
PAIRING_PHONE=521XXXXXXXXXX
MULTIPLIER_250=1
COMMAND_PREFIX=!
COLLECTION_NAME=bot_servicios